@{
    ViewBag.Title = "Prisijungimas";
}

<h2>Prisijungimo forma</h2>
<form method="POST">
    <div class="form-group">
        <label for="email">El. pašto adresas</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Įveskite savo el. pašto adresą">
    </div>
    <div class="form-group">
        <label for="password">Slaptažodis</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Įveskite slaptažodį">
    </div>
    <button type="submit" class="btn btn-primary">Prisijungti</button>
</form>
